/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* RESET CSS BEGIN */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*RESET CSS END*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: black;
}

.container {
  display: flex;
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*HEADER*/

header {
  background-image: url("./imgs/welcome-section-bg.png");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 40px 0;
  color: white;
}

header .container {
  justify-content: space-between;
  align-items: baseline;
}

nav ul {
  display: flex;
  font-size: 18px;
}

.user {
  display: flex;
  font-size: 18px;
  align-items: baseline;
}

.user p {
  margin: 0 10px;
}

nav ul li {
  padding: 0 15px;
}

header li a:hover {
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}

.contact-us-btn {
  background-color: white;
  color: #0096ff;
  padding: 10px 25px;
  border-radius: 25px;
  transition: all 0.4s ease 0s;
}

.contact-us-btn:hover {
  background: transparent;
  color: white;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
  border: 1px solid white;
}

/*WELCOME SECTION*/

#welcome-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

#welcome-section h1 {
  margin-top: 70px;
  margin-bottom: 20px;
  font-size: 45px;
}

#welcome-section p {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 30px;
  width: 40%;
  text-align: center;
}

#welcome-section .contact-us-btn {
  font-size: 20px;
  margin-bottom: 60px;
}

/*INTRO-TEXT SECTION*/

#intro-text {
  padding: 40px;
  flex-direction: column;
  align-items: center;
}

.slogan {
  color: #0096ff;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}

.paragraphs-wrapper {
  display: flex;
  width: 80%;
}

.paragraphs-wrapper p {
  font-size: 16px;
  line-height: 26px;
  padding-left: 15px;
  padding-right: 15px;
}

/*COMPANY-INFO SECTION*/

.section-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#image-wrapper {
  flex: 1;
  min-height: 500px;
}

#content-wrapper {
  flex: 1;
  background-color: #0096ff;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content-wrapper div {
  padding: 60px 0;
  color: white;
  width: 70%;
}

#content-wrapper div h2 {
  color: white;
}

#content-wrapper div p {
  font-size: 16px;
  line-height: 26px;
}

.video-wrapper {
  margin: -200px auto -300px auto;
}

iframe {
  border-radius: 20px;
}

#higlights .container {
  background-color: #f5f6f6;
  padding-top: 300px;
  flex-direction: column;
  padding-bottom: 60px;
  /* max-width: 1380px; */
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 40px;
}

.card-holder {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 5px 10px 18px #888888;
  font-size: 16px;
}

.mr {
  margin-right: 20px;
}

.title {
  display: flex;
  align-items: baseline;
}

.title h6 {
  color: #0096ff;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

#features {
  border-top: 1px solid #0096ff;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  width: 80%;
}

#features h2 {
  align-items: left;
}

.feature {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.feature-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.feature-icon {
  flex: 1;
}

.feature-icon-holder {
  background-color: white;
  border-radius: 50%;
  width: fit-content;
  margin-left: auto;
}

.feature-icon-holder img {
  padding: 50px;
  width: 200px;
  height: 200px;
}

.feature-title {
  color: #0096ff;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 20px;
}

.feature-description {
  font-size: 16px;
  line-height: 26px;
}

.l-col {
  text-align: right;
  margin-right: 30px;
}

.r-col {
  text-align: left;
  margin-left: 30px;
}

.btn {
  width: fit-content;
  margin: 0 auto;
  background-color: #0096ff;
  font-size: 20px;
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
  transition: all 0.4s ease 0s;
}

.btn:hover {
  background: white;
  color: #0096ff;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
  border: 1px solid white;
}

/*CLIENTS SECTION*/

#clients .container {
  background-color: #0096ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 60px;
}

#clients h2 {
  margin: 60px 0;
  color: white;
  width: 50%;
}

.logos-container {
  display: flex;
  margin-bottom: 40px;
}

.logos-container img {
  /* margin-right: 20px; */
  height: 30px;
  padding: 0;
  margin-right: 30px;
}

/*COMMENTS SECTION*/

#comments .container {
  background-color: #f5f6f6;
  padding-bottom: 60px;
}

.comments-section {
  display: flex;
  width: 80%;
  margin: 40px auto 0 auto;
}

.comment-card {
  flex: 1;
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 5px 10px 18px #888888;
  font-size: 16px;
}

.first-card {
  margin-right: 30px;
}

.second-card {
  margin-left: 30px;
}

.comment-heading {
  color: #0096ff;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 20px;
}

.comment {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
}

.personal-info-wrapper {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.personal-photo-holder {
  margin-right: 30px;
  width: fit-content;
}

.personal-photo-holder img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.name {
  color: #0096ff;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
}

.profession {
  font-size: 16px;
  color: gray;
}

/*SHORT-COMPANY-INFO SECTION*/

#short-company-info .container {
  margin: 0 auto;
  align-items: center;
  text-align: center;
  padding: 50px;
}
#short-company-info h3 {
  color: #0096ff;
  font-size: 40px;
  margin-bottom: 40px;
}

/*FOOTER*/

footer {
  font-size: 12px;
  color: white;
  background-color: #243a4a;
  margin: 0;
}

footer .container {
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 40px;
  color: #f0f2f3;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

footer p {
  margin-bottom: 10px;
}

.column-heading {
  font-size: 16px;
  font-weight: 700;
}

.socials {
  display: flex;
  justify-content: space-between;
  color: #7c8992;
  font-size: 11px;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid;
}

.copyright {
  display: flex;
}

.copyright p {
  margin-right: 15px;
}

#icons {
  display: flex;
}

#icons p {
  margin-right: 15px;
}

#icons i {
  margin-right: 15px;
}
